<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<meta charset="utf-8">

<title>TinyURL</title>

<style>
body {
  background: navy !important;
  color: white;
  text-align: center;
}
.jumbotron {
  color: black;
  background-color: #004080 !important;
}
.jumbotron a {
  color: white !important;
}

#index_container {
  padding-top: 15px;
}
</style>