<!DOCTYPE HTML>
<html>
<head>

</head>

<body>
  <% include ./partials/_header %>

  <a href="/urls/new"><h1>Shorten your link</h1></a>
  <ul>
    <% for ( let site in urlDB ) { %>
      <li>
        <%=urlDB[site]%> shortened to <%= site %>
        <a href="/urls/<%=site%>">Edit</a>
        <form method="POST" action="/urls/<%=site%>/delete">
          <input type="submit" value="DELETE">
        </form>
      </li>
    <% } %>
  </ul>
</body>
</html>